* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

.add-form,
.books-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 20px auto;
  width: 80%;
}

.books-holder {
  width: 95%;
  margin: 0 auto;
  border: 3px solid black;
}

.books-div {
  display: flex;
  width: 100%;
  height: 33px;
  justify-content: space-between;
  padding: 2px 10px;
  align-items: center;
}

.books-div > ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.books-div > ul > li {
  margin: 0 5px;
}

.bg-gray {
  background-color: lightgray;
}

.bg-white {
  background-color: white;
}

.button-remove {
  height: 23px;
  width: 70px;
  background: white;
  border: 2px solid black;
  padding: 1px;
  margin: 0;
}

.hr-form {
  margin: 20px auto;
  width: 130px;
  height: 2px;
  border: none;
  background: black;
  color: black;
}

h2 {
  width: 80%;
  font-family: 'Lucida Sans', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.add-form {
  width: 300px;
  height: auto;
  gap: 20px;
  align-items: flex-end;
  margin-top: 30px;
}

.add-form > label > input {
  width: 300px;
  height: 35px;
  border: 2px solid black;
  padding: 3px;
}

#submit {
  background: white;
  width: 50px;
  height: 20px;
  border: 2px solid black;
}

#submit,
.button-remove {
  box-shadow: 3px 3px 3px black;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 44px;
  top: 5px;
  margin: 10px auto;
  border: 3px solid black;
  position: fixed;
  padding: 0 20px;
}

.nav-a,
.li-nav > a {
  text-decoration: none;
  font-family: 'Lucida Sans', sans-serif;
  font-size: 15px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.ul-nav {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.li-nav {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li-add {
  border-left: 1px solid rgb(26, 111, 126);
  border-right: 1px solid rgb(26, 111, 126);
  width: 82px;
}

.date {
  display: inline;
  position: relative;
  top: 54px;
  margin: 0;
}

section {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

.contact {
  padding: 0 20%;
}

.contact-p {
  width: 50%;
}

.contact-information {
  width: 50%;
}

.footer {
  width: 98%;
  height: 40px;
  border: 2px solid black;
  bottom: 5px;
  position: absolute;
  padding: 7px;
}

body {
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  html {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    max-width: 100% !important;
    overflow: hidden !important;
  }

  header {
    align-items: unset;
  }

  .nav-bar {
    width: 98%;
    position: relative;
    margin: 0;
  }

  .date {
    top: 14px;
  }

  .footer {
    width: 95%;
  }

  h2,
  .contact-p,
  .contact-information {
    width: 100%;
  }
}
